* {
    box-sizing: border-box;
    scrollbar-width: none;
}

html {
    background-color: #181818;
}

body {
    min-height: 100%;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

iframe,
iframe+div {
    margin-top: 0 !important;
}

.custom-font {
    font-family: "CustomFont";
}

.app-bg {
    background-color: #181818;
}

/* donate button override*/
#bmc-wbtn {
    transform: scale(0.85) !important;
}

#bmc-wbtn+div {
    transform: scale(0.75) !important;
}

.content-wrapper {
    padding: 10px 4% 20px 4%;
}

@media only screen and (max-width: 992px) {
    .content-wrapper {
        padding: 20px 10px 25px 10px;
        overflow-y: auto;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.text-small {
    color: white;
    font-family: 'CustomFont';
    font-size: 16px;
}

@media only screen and (max-width: 992px) {
    .text-small {
        font-size: 14px;
        white-space: nowrap;
    }
}

.text-medium {
    color: white;
    font-family: 'CustomFont';
    font-size: 19px;
}

.empty-chart-text-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: center;
}

.empty-chart-text {
    color: white;
    font-family: 'CustomFont';
    font-size: 22px;
}

.bar-chart-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.dropdown-button .dropdown-toggle {
    background-color: #2c3e50 !important;
    padding: 10px 30px 10px 30px;
    font-family: "CustomFont";
    border: none !important;
    flex-basis: 80% !important;
}

@media only screen and (max-width: 992px) {
    .dropdown-button .dropdown-toggle {
        margin-top: 4px;
        padding: 8px 15px 8px 15px;
        font-size: 15px;
    }
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle:hover {
    background-color: #56799c !important;
}

.dropdown-menu button {
    padding: 10px 70px 10px 30px;
    font-size: 17px;

}

@media only screen and (max-width: 992px) {
    .dropdown-button button {
        font-size: 13px !important;
    }
}

.dropdown-menu {
    background-color: #2c3e50 !important;
    font-family: "CustomFont";
}

.dropdown-menu .dropdown-item {
    background-color: #2c3e50 !important;
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #56799c !important;
    color: white;
}

.partner-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 1000;
}

@media only screen and (max-width: 992px) {
    .partner-logo {
        bottom: 10px;
        right: 10px;
        width: 60px;
        height: 60px;
    }
}

.popup-container {
    position: fixed;
    bottom: 120px;
    right: 100px;
    background-color: #181818;
    z-index: 1000;
    display: inline-block;
    padding: 15px 15px 0px 15px;
    border-radius: 0px 15px 15px 15px;
    border: 2px solid white;
    max-width: 45%;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .popup-container {
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        max-width: none;
        padding: 5px;
    }
}

.popup-tab {
    position: absolute;
    top: -35px;
    left: -2px;
    background-color: #181818;
    color: white;
    padding: 5px 11px;
    border-radius: 15px 15px 0 0;
    border: 2px solid white;
    border-bottom: none;
    font-size: 15px;
    box-shadow: 0 -2px 0 #181818;
}

@media only screen and (max-width: 992px) {
    .popup-tab {
        top: -33px;
    }
}

.popup-logo {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 80vh;
}

.link-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.partner-link {
    font-family: "CustomFont";
    color: red;
    border: 2px solid red;
    border-radius: 15px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    transition: all 0.2s ease;
}

.partner-link:hover {
    background-color: rgba(255, 0, 0, 0.2);
}