* {
    box-sizing: border-box;
    scrollbar-width: none;
}

html {
    background-color: #181818;
}

body {
    min-height: 100%;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

iframe,
iframe+div {
    margin-top: 0 !important;
}

.custom-font {
    font-family: "CustomFont";
}

.app-bg {
    background-color: #181818;
}

/* donate button override*/
#bmc-wbtn {
    transform: scale(0.85) !important;
}

#bmc-wbtn+div {
    transform: scale(0.75) !important;
}

.content-wrapper {
    padding: 10px 4% 20px 4%;
}

@media only screen and (max-width: 992px) {
    .content-wrapper {
        padding: 20px 10px 25px 10px;
        overflow-y: auto;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.text-small {
    color: white;
    font-family: 'CustomFont';
    font-size: 16px;
}

@media only screen and (max-width: 992px) {
    .text-small {
        font-size: 14px;
        white-space: nowrap;
    }
}

.text-medium {
    color: white;
    font-family: 'CustomFont';
    font-size: 19px;
}

.empty-chart-text-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: center;
}

.empty-chart-text {
    color: white;
    font-family: 'CustomFont';
    font-size: 22px;
}

.bar-chart-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}


.link-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.partner-link {
    font-family: "CustomFont";
    color: red;
    border: 2px solid red;
    border-radius: 15px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    transition: all 0.2s ease;
}

.partner-link:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.popup-container {
    position: fixed;
    bottom: 120px;
    right: 100px;
    background-color: #181818;
    z-index: 1000;
    display: inline-block;
    padding: 15px 15px 0px 15px;
    border-radius: 0px 15px 15px 15px;
    border: 2px solid white;
    max-width: 45%;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .popup-container {
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        max-width: none;
        padding: 5px;
    }
}

.popup-tab {
    position: absolute;
    top: -32px;
    left: -2px;
    background-color: #181818;
    color: white;
    padding: 5px 11px;
    border-radius: 15px 15px 0 0;
    border: 2px solid white;
    border-bottom: none;
    font-size: 15px;
    box-shadow: 0 -2px 0 #181818;
}

@media only screen and (max-width: 992px) {
    .popup-tab {
        top: -33px;
    }
}

.popup-logo {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 25vh;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
}






.home-container {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.6);
    display: flex;
    justify-content: space-between; /* left boxes left, right box right */
    padding: 20px;
    box-sizing: border-box;
}

.left-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 24%;
    height: 90%;
    margin-top: 40px;
}

.box1 {
    height: 55%;
    background-color: rgba(24, 24, 24, 0.8);
    box-shadow: 0 0 12px rgba(255, 255, 0, 0.5);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    overflow-y: auto;
}

.box2 {
    height: 40%;
    background-color: rgba(24, 24, 24, 0.8);
    box-shadow: 0 0 12px rgba(255, 255, 0, 0.5);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    overflow-y: auto;
}

.box-title {
    font-family: "CustomFont";
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    width: 70%;
    border-bottom: 2px solid white;
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
}

.update-section {
    margin-bottom: 10px;
    padding-left: 5px;
}

.update-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffd700;
}

.update-items {
    list-style-type: disc;
    padding-left: 20px;
}

.update-items li {
    margin-bottom: 4px;
}

.partner-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 1000;
}

.partner-section {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    box-sizing: border-box;
    transition: box-shadow 0.25s ease-in-out;
    cursor: pointer;
}

.partner-section:hover {
    box-shadow: inset 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.hd-wiki-logo-wrapper {
    max-height: 10vh;
}

.right-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 14%;
    height: 100%;
    margin-top: 40px;
}

.box3 {
    height: 38%;
    background-color: rgba(24, 24, 24, 0.8);
    box-shadow: 0 0 12px rgba(255, 255, 0, 0.5);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    overflow-y: auto;
    align-items: center;
}

.box-title-center{
    text-align: center;
    margin-bottom: 0px;
}

.data-collection-subsection-title{
    font-size: 20px;
    font-family: "CustomFont";
    text-decoration: underline;
    margin-top: 12px;
}


.data-collection-text{
    font-size: 20px;
    font-family: "CustomFont";
    font-weight: bold;
    display: flex;
    justify-content: center;
}