
.legend-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .legend-wrapper {
        flex-direction: column;
    }
}

.legend-items-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.legend-items-wrapper {
    display: flex;
    flex-wrap: wrap;
}


.legend-item-wrapper {
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legend-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

@media only screen and (max-width: 992px) {
    .legend-items-wrapper {
        justify-content: center;
    }

    .legend-content {
        min-width: 140px;
    }

    .legend-item-wrapper {
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        justify-content: center;
    }

    /* Every odd item starts a new row */
    .legend-item-wrapper:nth-child(2n-1) {
        display: flex;
        justify-content: flex-end;
    }

    /* Every even item ends the row */
    .legend-item-wrapper:nth-child(2n) {
        display: flex;
        justify-content: flex-start;
    }
}


.legend-filter-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.legend-patch-name-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 700px) {
    .legend-patch-name-wrapper {
        flex-direction: column;
    }
}

.legend-patch-name {
    padding-left: 8px;
    text-align: center;
}

.round-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50% !important;
}
