.strategem-title-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
}

.strategem-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 12px;
}

@media only screen and (max-width: 992px) {
    .strategem-title {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        font-size: 30px;
    }
}

.strategem-title-img {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 992px) {
    .strategem-title-img {
        width: 70px;
        height: 70px;
    }
}

.strategem-title-text {
    color: white;
    font-size: 32px;
    font-family: "CustomFont";
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 5px 20px;
}

@media only screen and (max-width: 992px) {
    .strategem-title-text {
        align-items: flex-end;
        font-size: 22px;
        padding: 0px 0px 5px 0px;
        margin-left: 10px;
    }
}

.strategem-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 15px 15px;
}

@media only screen and (max-width: 992px) {
    .strategem-filter-container {
        justify-content: center;
        align-items: flex-start;
        padding: 0px 0px 10px 0px;
    }
}

.strategem-divider {
    height: 5px;
    border-top: 1px solid white;
}

.strategem-graph-wrapper-faction {
    border-radius: 15px;
    height: 220px;
    width: 100%;
    padding: 0px 20px;
    margin-top: 5px;
}

@media only screen and (max-width: 992px) {
    .strategem-graph-wrapper-faction {
        margin-top: 20px;
        padding: 0px 12px;
        height: 180px;
    }
}

.strategem-graph-wrapper-patch {
    height: 240px;
    width: 100%;
    margin-top: 5px;
}

@media only screen and (max-width: 992px) {
    .strategem-graph-wrapper-patch {
        height: 200px;
        padding-right: 15px;
    }
}

.strategem-mission-graph-wrapper {
    padding: 5px 10px !important;
    height: 100px;
    width: 100%;
}

.strategem-level-graph-wrapper {
    padding: 5px 10px !important;
    height: 200px;
    width: 100%;
}

.strategem-graph-title {
    color: white;
    font-size: 22px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: -50px;
    font-family: "CustomFont";
}

.strategem-graphs-title {
    padding-top: 5px;
    padding-left: 16px;
    padding-bottom: 5px;
    color: white;
    font-size: 22px;
    font-family: "CustomFont";
}

@media only screen and (max-width: 992px) {
    .strategem-graphs-title {
        padding-top: 20px;
    }
}

.strategem-other-graph-wrapper {
    padding: 0px 10px !important;
    margin-bottom: 20px;
    height: 160px;
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .strategem-other-graph-wrapper {
        margin-top: 20px;
    }
}

.strategem-loadouts-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    padding-bottom: 5px;
    padding-left: 15px;
}

@media only screen and (max-width: 992px) {
    .strategem-loadouts-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 20px;
    }
}

.strategem-loadouts-section-wrapper {
    padding: 15px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.strategem-loadouts-title {
    font-family: "CustomFont", sans-serif;
    color: white;
    padding: 5px 5px 0px 5px;
    font-size: 19px;
}

.strategem-other-title {
    font-family: "CustomFont", sans-serif;
    color: white;
    padding: 10px 5px 0px 5px;
    font-size: 19px;
    transform: translateY(10px);
}

.companion-chart-wrapper {
    padding: 5px 10px;
}

.companion-charts-wrapper {
    margin-top: 100px;
}

.strategem-section-placeholder {
    width: 100%;
    height: 400px;
}