.filters-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

@media (any-pointer: fine) {
  .filters-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 2% 30px 2%;
  }
}

@media (any-pointer: coarse) {
  .filters-container {
    flex-direction: row;
    gap: 15px;
    padding: 20px 2% 30px 20px;
  }
}

.filter-results-container {
  display: flex;
}

.filter-results-buttons-container {
  display: flex;
}

.filter-button {
  display: flex;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .filter-results-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 60px;
  }
}

@media only screen and (max-width: 1000px) {
  .filter-results-container {
    flex-direction: column;
    padding: 0px 0px 20px 20px;
  }
}

.show-games-table-wrapper {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-faction-show-all {
  padding-left: 60px;
  font-size: 17px;
  text-decoration: underline;
  cursor: pointer;
}

.trends-title-up{
  font-size: 28px;
  padding: 10px 0px;
  color: #679552;
}

.trends-title-down{
  font-size: 28px;
  padding: 10px 0px;
  color: #de7b6c;
}

.trends-container{
  padding-left: 40px;
}