.weapon-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
}

.weapon-title-img {
    width: 190px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.weapon-title-img-small {
    width: 150px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.weapon-title-img-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.weapon-title-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.weapon-title-text {
    color: white;
    font-size: 32px;
    font-family: "CustomFont";
    display: flex;
    align-items: center;
    padding: 0px 0px 5px 20px;
}
