* {
  box-sizing: border-box;
}

.filter-results-text {
  color: white;
  font-family: 'CustomFont';
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}

.app-bg {
  background-color: black;
}

.custom-font {
  font-family: 'CustomFont';
}

.content-wrapper {
  background-color: #181818;
  padding: 10px 8% 50px 8%;
  height: calc(100vh + 20px);
}

@media (any-pointer: fine) {
  .content-wrapper {
    padding: 10px 8% 50px 8%;
  }
}

@media (any-pointer: coarse) {
  .content-wrapper {
    padding: 0 10px 25px 10px;
  }
}


.flex-row {
  display: flex;
  flex-direction: row;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  background-color: #2c3e50;
}

@media (any-pointer: coarse) {
  .nav-container {
    justify-content: flex-start;

  }
}

.logos-wrapper{
  display: flex;
  direction: row;
}

.app-logo{ 
  color: white;
  font-size: 19px;
  cursor: pointer;
  margin: 8px 20px 0px 45px;
  padding: 0px 10px;
  background-color: #e74c3c;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
}
@media (any-pointer: coarse) {
  .app-logo{
    display: none;
  }
}


.hd-logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hd-logo img{
  width: 50% !important;
  max-width: 500px;
}
@media (any-pointer: fine) {
  .hd-logo img{
    min-width: 380px;
  }
}
@media (any-pointer: coarse) {
  .hd-logo img{
    width: 90% !important;
  }
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  background-color: #2c3e50;
  padding-right: 50px;
}

.menu a {
    display: flex;
    width: 100%;
    width: 220px;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    z-index: 9;
}

.menu a:hover {
  background-color: #49adc9;
}

@media (any-pointer: fine) {
  .menu {
   margin-right: 150px;
  }
}

.menu-active{
  background-color: #e74c3c;
}

.filters-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (any-pointer: fine) {
  .filters-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 25px 2% 30px 2%;
  }
}

@media (any-pointer: coarse) {
  .filters-container {
    flex-direction: row;
    gap: 15px;
    padding: 20px 2% 30px 20px;
  }
}

.dropdown-button .dropdown-toggle {
  background-color: #2c3e50 !important;
  padding: 10px 30px 10px 30px;
  font-family: 'CustomFont';
  font-size: 17px;
  border: none !important;
  flex-basis: 80% !important;
}

@media (any-pointer: coarse) {
  .dropdown-button .dropdown-toggle {
    margin-top: 4px;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle:hover {
  background-color: #56799c !important;
}

.dropdown-menu button {
  padding: 10px 70px 10px 30px;
}

.dropdown-menu {
  background-color: #2c3e50 !important;
  font-family: 'CustomFont';

}

.dropdown-menu .dropdown-item {
  background-color: #2c3e50 !important;
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #56799c !important;
  color: white;
}

.filter-results-container {
  display: flex;
}

@media (any-pointer: fine) {
  .filter-results-container  {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 60px;
  }
}

@media (any-pointer: coarse) {
  .filter-results-container  {
    flex-direction: column;
    padding: 0px 0px 20px 20px;

  }
}

.show-games-table-wrapper{
  height: 600px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 20px 20px 30px 40px;
  margin-bottom: 30px;
}
@media (any-pointer: coarse) {
  .show-games-table-wrapper{
    height: 450px;
    padding: 20px 10px 30px 10px;

  }
}
.table-loadout-wrapper{
  display: flex;
  direction: row;
  gap:12px;
}

.table-loadout-row-wrapper{
  display: flex;
  flex-direction: row;
  gap:40px;
  padding: 10px 20px;
}

@media (any-pointer: coarse) {
  .table-loadout-row-wrapper{
    display: flex;
    flex-direction: column;
   
  }
}

.bar-container {
  padding: 0px 0px 50px 0px;
  height: 670px;
  overflow: scroll; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bar-factions {
  background-color: black;
  padding: 0px 0px 0px 510px,
}

@media (any-pointer: fine) {
  .bar-factions {
    background-color: black;
    padding: 0px 0px 0px 100px,
  }
}

@media (any-pointer: coarse) {
  .bar-factions {
    background-color: black;
    padding: 0px 0px 0px 510px,
  }
}

.spinner-faction-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 240px;
}



.groups-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.groups-title-wrapper {
  width: 700px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.groups-title-text-wrapper {
  color: white;
  margin-left: 20px;
  font-size: 21px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 30%;
  border-bottom: 1px solid white;
  font-family: 'CustomFont';
}

.group-container {
  display: flex;
  direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 8px;
}

.armory-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.armory-item-name {
  color: white;
  text-align: center;
  width: 130px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: 'CustomFont';
}

.armory-img-wrapper {
  height: 50px;
  width: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
}



.item-details-img-wrapper {
  width: 100px;
  height: 100px;
}

.item-details-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-top: 30px;
  padding-bottom: 5px;
  width: 90%;
}

@media (any-pointer: coarse) {
  .item-details-title-wrapper  {
    padding-left: 20px;
  }
}

.strategem-rankings-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 70%;
  padding-top: 12px;
}

.strategem-rankings-item {
  color: white;
  height: 120px;
  padding-left: 20px;
  display: flex;
  align-items: flex-start;
  font-size: 30px;
}

@media (any-pointer: fine) {
  .strategem-rankings-item {
    width: 400px;
  }
}

@media (any-pointer: coarse) {
  .strategem-rankings-item {
    width: 300px;
  }
}

.strategem-rankings-number {
  font-family: 'CustomFont';
  font-size: 66px;
}

.strategem-rankings-number-small {
  font-family: 'CustomFont';
  font-size: 42px;
}

.strategem-rankings-text-wrapper {
  padding-top: 18px;
  padding-left: 3px;
}

@media (any-pointer: coarse) {
  .strategem-rankings-number {
    font-size: 56px;
  }
  .strategem-rankings-number-small {
    font-family: 'CustomFont';
    font-size: 35px;
  }
  .strategem-rankings-text-wrapper {
    padding-top: 10px;
    padding-left: 3px;
  }
}

.strategem-rankings-text-small {
  font-family: 'CustomFont', sans-serif;
  font-size: 19px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.strategem-rankings-text {
  font-family: 'CustomFont', sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 32px;
  transform-origin: 0 0;
  margin-bottom: -50%;
  font-size: 26px;
  padding-left: 10px;
  padding-bottom: 2px;

}

.strategem-graphs-wrapper {
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

@media (any-pointer: coarse) {
  .strategem-graphs-wrapper {
    flex-direction: column;
    padding: 10px;
  }
  
}

.strategem-graph-wrapper {
  border: 1px solid white;
  border-radius: 15px;
  padding: 50px 20px 35px 20px !important;
  width: 600px;
  height: 380px;
}

@media (any-pointer: coarse) {
  .strategem-graph-wrapper {
  
    width: 100%;
    height: 300px;
  }
}

.strategem-divier {
  height: 20px;
  border-top: 1px solid white;
  width: 90%;
}

.strategem-graphs-title {
  padding-left: 5px;
  color: white;
  font-size: 22px;
  font-family: 'CustomFont';
}

@media (any-pointer: coarse) {
  .strategem-graphs-title {
    padding-left: 20px;
    color: white;
    font-size: 22px;
    font-family: 'CustomFont';
  }
}

.strategem-graph-title {
  color: white;
  font-size: 22px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top: -30px;
  font-family: 'CustomFont';
}

.item-details-title-text {
  color: white;
  font-size: 32px;
  font-family: 'CustomFont';
  display: flex;
  align-items: flex-end;
  padding: 0px 0px 2px 20px;
}

.item-details-tab-active {
  display: flex;
  align-items: center;
  border: 1px solid white;
  height: 50px;
  margin-bottom: -6px;
  padding: 0px 20px 0px 20px;
  background-color: #181818;
  border-bottom: none;
  color: rgb(255, 182, 0);
  font-family: 'CustomFont';
  font-size: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-left: 28%;
  cursor: pointer;
}

.item-details-tab {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 4px;
  margin-bottom: -6px;
  padding: 0px 20px 0px 20px;
  background-color: #181818;
  border: 1px solid white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #ff2717;
  font-family: 'CustomFont';
  font-size: 21px;
}

.about-wrapper{
  min-height: 100vh;
  height: 100%;
}
.about-text-title {
  font-family: 'CustomFont';
  color: white;
  font-size: 30px;
  padding: 40px 20px 20px 20px;
}

.about-text {
  font-family: 'CustomFont';
  color: white;
  font-size: 22px;
  padding: 20px 20px 20px 50px;
}


.lds-dual-ring {
  /* change color here */
  color: white;
}
.lds-dual-ring,
.lds-dual-ring:after { 
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}